//默认按钮
.el-button--primary {
  padding: 8px 20px;
  background-color: #2589ee;
  border-color: #2589ee;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}
//圆角按钮
.el-button.is-round {
  padding: 5px 14px;
  border: 1px solid #0be9f3;
  font-size: 12px;
  color: #0ce9f3;
  background: transparent;
  border-radius: 12px;
}
// 朴素按钮
.el-button--default.is-plain {
  background: transparent;
  padding: 4px 14px;
  border: 1px solid #0ceaf3;
  color: #0ceaf3;
  font-size: 12px;
  &:hover{
    background: #0ceaf3;
    border-color: #0ceaf3;
    color: #ffffff;
  }
}
.displaed-btn{
  border-color: #eeeeee!important;
  color: #eeeeee!important;
}
.displaed-btn:hover, .displaed-btn:focus{
  background: transparent!important;
}
.el-button--primary.is-plain {
  background: transparent;
  padding: 4px 14px;
  border: 1px solid #268aee;
  color: #268aee;
  font-size: 12px;
}
.el-button--success.is-plain {
  background: transparent;
  padding: 4px 14px;
  border: 1px solid #77da6d;
  color: #77da6d;
  font-size: 12px;
}
.el-button--danger.is-plain {
  background: transparent;
  padding: 4px 14px;
  border: 1px solid #e97e61;
  color: #e97e61;
  font-size: 12px;
}
.el-button--warning.is-plain {
  background: transparent;
  padding: 4px 14px;
  border: 1px solid #ef9734;
  color: #ef9734;
  font-size: 12px;
}
// 表单
.el-form-item__label {
  color: #ffffff;
  padding-left: 30px;
}
input[type="password"],
input[type="text"],
input[disabled="disabled"],
textarea {
  background-color: rgba(235, 235, 235, 0.15);
  border: 0;
  color: #ffffff;
}
.el-radio{
  color: #FFFFFF;
}
.el-select-dropdown{
  background-color: #18359c;
  border: 0;
  .el-select-dropdown__empty{
    color:white;
  }
}
.el-cascader__dropdown {
  background-color: #297fb1;
  border: 0;
  .el-cascader-menu{
    color:white;
    .el-cascader-menu__wrap{
      .el-cascader-menu__list{
        .el-cascader-node{
          &.is-active{
            color: #0ceaf3;
          }
          &:hover{
            color: #0ceaf3;
            background-color: rgba(255, 255, 255, 0.15);
          }
          &:focus{
            color: #0ceaf3;
            background-color: rgba(255, 255, 255, 0.15);
          }
        }
      }
    }
    
    .el-cascader-node{
      &.in-active-path{
        color:#0ceaf3;
      }
    }
  }
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}
.el-select-dropdown__item {
  color: #ffffff;
}

.popper__arrow,
.popper__arrow::after {
  border-bottom-color: #18359c !important;
}
.el-form-item {
  margin-bottom: 25px;
}
.el-select__tags{
  input{
    background-color: transparent!important;
    border: 0!important;
  }
}
//日期选择器
.el-date-editor {
  &.el-input__inner {
    background-color: rgba(235, 235, 235, 0.15);
    color: #ffffff !important;
    border: 0;
    input {
      background-color: transparent;
      color: #ffffff;
    }
    .el-range-separator,
    .el-range__icon {
      color: #ffffff;
    }
  }
}
.el-picker-panel {
  background: transparent;
  background-color: #18359c;
  color: #ffffff;
  border: 0;
  .el-date-table th {
    color: #ffffff;
  }
  .el-picker-panel__icon-btn {
    color: #ffffff;
  }
  .el-date-picker__header-label{
    color:white;
  }
  td.in-range div {
    background-color: rgba(208, 198, 198, 0.3);
  }
  .el-picker-panel__footer{
    background: transparent;
    .el-button--text{
      color: #ffffff;
    }
  }
}
.el-date-table td.disabled div {
  background-color: #2b5b83;
}
.el-year-table td.disabled .cell{
  border-radius: 18px;
}
.el-year-table td .cell{
  color: #ffffff;
}
.el-month-table td .cell{
  color: #ffffff;
}
.curve-datetimerange{
  .el-button--text.el-button--mini {
    display: none;
  }
}
.el-time-spinner__item{
  color: #ffffff;
  &:hover{
    background-color:transparent!important;
    color: #409EFF;
  }
  &.active{
    color: #409EFF!important;
  }
}
.el-time-panel{
  background-color: #18359c;
}
.el-time-panel__btn{
  color: #ffffff;
}
.el-picker-panel__sidebar{
  background-color: #18359c;
  .el-picker-panel__shortcut{
    color: #ffffff;
  }
}
.date-time-range{
  .el-picker-panel__footer{
    .el-button--text{
      display: none;
    }
  }
}
//
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background: rgba(0, 224, 255, 0.15);
  color: #00F5FF;
  border-color: #0CEAF3;
}
.el-radio-button__inner{
  color: #ffffff;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}
.el-radio-button__inner:hover{
  color: #00F5FF;
}
//
.main-content {
  position: relative;
  .selected-unit {
    margin: 28px 15px;
    i {
      display: inline-block;
      width: 9px;
      height: 9px;
      background: #4fabff;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
// el-tabs
.el-tabs {
  .el-tabs__nav-wrap::after {
    background-color: #1a4262;
  }
  .el-tabs__active-bar {
    background-color: #0ceaf3;
  }
  .el-tabs__item {
    color: #ffffff;
    &.is-active {
      color: #0ceaf3;
    }
  }
}

//默认重置按钮
.el-button--default {
  padding:8px 20px;
  background-color: transparent;
  margin-left: 0;
  color: white;
  font-size: 14px;
}
//成功按钮
.el-button--success{
  padding:8px 20px;
  background-color:#77DA6D;
  color:white;
  font-size:14px;
}
.el-button.nomargin{
  margin-left:2px ;
}

// 警告弹框
.el-message-box__wrapper{
  .iconmes{
    background: #2C5C84;
    border: 0;
    width: 380px;
    height: 270px;
    .el-message-box__header{
      .el-message-box__title, .el-icon-close{
        color: #ffffff;
      }
    }
    .el-message-box__content{
      .el-message-box__container{
        margin-bottom: 40px;
        .el-message-box__status{
          font-size: 35px!important;
          color: white;
          left: 0;
          right: 0;
          top: 13px;
          margin: 20px auto 15px;
          width: 50px;
          height: 50px;
          position: relative;
          background-color: #be2c2b;
          border-radius: 50%;
          text-align: center;
          line-height: 50px;
        }
        .el-message-box__message{
          color: #ffffff;
          font-size: 20px;
          text-align: center;
          p{
            line-height: 20px;
          }
        }
      }
    }
    .el-message-box__btns{
      text-align: center;
      .el-button{
        border-radius: 0;
      }
      .el-button:focus, .el-button:hover{
        color: #ffffff;
        border-color: #DCDFE6;
        background-color: transparent;
      }
      .el-button--primary,.el-button.el-button--primary:focus, .el-button.el-button--primary:hover{
        background-color: #2589ee;
        border-color: #2589ee;
        color: #FFF;
      }
    }
  }
}
.el-loading-mask{
  z-index: 9999;
}
.el-checkbox{
  .el-checkbox__label{
    color: #ffffff;
  }
}
//提示
.main-prompt{
  font-size: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: max-content;
  width: max-content;
  text-align: center;
  i{
    font-size: 80px;
    display: block;
    margin-bottom: 20px;
  }
}
/* 英文、数字字号为16号的字体 */
@font-face {
  font-family: "nums";
  src: url("../font/LcdD.ttf");
}
q {
  font-family: nums;
}